<header>
  <div class="container-fluid h-100">
    <!-- <div class="row h-100 align-self-center">
      <div class="col align-self-center">
        <img class="img-responsive" src="assets/image/logo.png" />
      </div>
      <div class="col align-self-center">
        <div class="float-right">
          <div class="row ">
            <div class="col iconUser" style="width: 200px">
              <a (click)="functionLogin()" *ngIf="show">{{ 'login.txt_login' | translate }} </a>
              <span *ngIf="show === false" mat-button [matMenuTriggerFor]="logout">{{userName}}</span>
              <mat-menu #logout="matMenu">
                <button (click)="functionlogout()" mat-menu-item>LOGOUT</button>
              </mat-menu>
            </div>
            <div class="col boder_center language">
              <div mat-div [matMenuTriggerFor]="menu"
                class="img-responsive center-block text-centercol-xs-12 col-md-6-offset-3 img-responsive center-block text-center">
                <img src={{lag.imagePath}} style="height: 30px;" /><span>{{lag.name}}</span> </div>
              <mat-menu #menu="matMenu">
                <button *ngFor="let language of languages;let i = index" mat-menu-item (click)="selectLanguage(i)">
                  <img src={{language.imagePath}} /><span style="padding-left: 10px">{{language.name}}</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>


      </div>
    </div> -->
    <div class="row ml-1">
      <div class="align-self-center">
          <img class="img-responsive" src="assets/image/logo.png" />
      </div>
      <div class="ml-auto mr-3 align-self-center">
         
              <div class="iconUser">
                <a (click)="functionLogin()" *ngIf="show">{{ 'login.txt_login' | translate }} </a>
                <span *ngIf="show === false" mat-button [matMenuTriggerFor]="logout">{{userName}}</span>
                <mat-menu #logout="matMenu">
                  <button (click)="functionlogout()" mat-menu-item>LOGOUT</button>
                </mat-menu>
              </div>
              <div class="boder_center language">
                <div mat-div [matMenuTriggerFor]="menu"
                  class="img-responsive center-block text-centercol-xs-12 col-md-6-offset-3 img-responsive center-block text-center">
                  <img src={{lag.imagePath}} style="height: 30px;" /><span>{{lag.name}}</span> </div>
                <mat-menu #menu="matMenu">
                  <button *ngFor="let language of languages;let i = index" mat-menu-item (click)="selectLanguage(i)">
                    <img src={{language.imagePath}} /><span style="padding-left: 10px">{{language.name}}</span>
                  </button>
                </mat-menu>
              </div>
            
      </div>
    </div>
  </div>

</header>