<header>

  <div class="col-md-4 col-sm-4 col-xs-4 col-lg-6 col-xl-6 "><img class="img-responsive" src="assets/image/logo.png"  /></div>
  <div class="col-md-8 col-sm-8 col-xs-8 col-lg-6 col-xl-6 vcenter ">
    <div class="row h-100">
      <div class="col-md-7 col-sm-6 col-xs-6 col-lg-9 col-xl-9 boder_center">
        <div style ="float: right;" class="iconUser">
            <a  routerLink ="/login" (click) ="functionLogin()" *ngIf="show">{{ 'login.txt_login' | translate }}</a>
            <span *ngIf="show === false"  mat-button [matMenuTriggerFor]="logout">{{userName}}</span>
            <mat-menu #logout="matMenu">
             <button (click) = "functionlogout()" mat-menu-item >LOGOUT</button>
           </mat-menu>
        </div>
       
      </div>
   
      <div class="col-md-5 col-sm-6 col-xs-6 col-lg-3 col-xl-3 language">
        <div class="row" style="padding-left: 10px; height: 40px; margin-top: 3px;">
            <div mat-div [matMenuTriggerFor]="menu"><img src={{lag.imagePath}}  /><span>{{lag.name}}</span> </div>
            <mat-menu #menu="matMenu">
              <button *ngFor="let language of languages;let i = index"  mat-menu-item (click) ="selectLanguage(i)">
                <img src={{language.imagePath}} /><span style="padding-left: 10px">{{language.name}}</span>
              </button>
            </mat-menu>
        </div>
        
      </div>
    </div>
  </div>

</header>