$color_072884 :  #032ea3;
header{
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    padding: 10px 15px;
    
    background-color: #032ea3;
    color: white;
}

.vcenter {
    display: flex;
    align-items: center;    
    justify-content: center
}
.iconUser{
    float: left;
    height: 40px;
    text-transform: uppercase;
    background-image: url(/assets/image/user.png);
    background-position: left center;
    background-repeat: no-repeat;

    padding-left: 40px;
    a{
        text-decoration: none;
        color: white;
        font-family:'UTM Avo';
        height: 100%;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        cursor: pointer;
        
    }
    span{
        color: white;
        font-family:'UTM Avo';
        height: 100%;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        cursor: pointer;
    }
  a:hover{
      color: red;
  }
}
.boder_center{
    border-left: aqua 2px solid;
    max-height: 100%;
}
.language{
    display: table-cell;
  vertical-align: middle;
    height: 40px;
    color: white;
    img{
        
        height: auto;
        vertical-align:middle;
        margin-right: 10px;
    }
    span{
        vertical-align:middle;
        
    }
    :hover{
        cursor: pointer;
    }
}