
<footer>
  <div id="footer">
    <span>FORMOSA HA TINH STEEL CORPORATION (FHS)</span>

   <div class="row">
    <div class="col">
      
    </div>
    <div class="col" style="text-align: center">
      <p ><img src="../../assets/image/icon_address.png" width="30" height="30"/>{{'footer.address' | translate}}: 
        {{'footer.detailAdress' | translate}} </p>
    </div>
    <div class="col">
      <p><img src="../../assets/image/phone.png" width="40" height="30"/>{{'footer.phone' | translate}}: +84-239-3722-123 </p>
     <p><img src="../../assets/image/fax.png" width="40" height="30"/>{{'footer.fax' | translate}}: +84-239-3722-112 </p>
     <p><img src="../../assets/image/mail.png" width="40" height="20"/>{{'footer.email' | translate}}: fhs@gmail.com.vn</p>
    </div>
    <div class="col">
    
    </div>
  </div>
  </div>
</footer>
