
<footer>
    <div class="nameGongsi">FORMOSA HA TINH STEEL CORPORATION (FHS)</div>
  <div id="footer">
   <div class="row">
    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12 text-center" >
      <p><img src="../../assets/image/icon_address.png" width="30" height="30"/>{{'footer.address' | translate}}: 
        {{'footer.xa' | translate}}
         </p>
         <p>{{'footer.phuong' | translate}}</p>
         <p>{{'footer.ting' | translate}}</p>
    </div>
    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
      <p><img src="../../assets/image/phone.png" width="30" height="30"/>{{'footer.phone' | translate}}: +84-239-3722-123 </p>
     <p><img src="../../assets/image/fax.png" width="30" height="30"/>{{'footer.fax' | translate}}: +84-239-3722-112 </p>
     <p><img src="../../assets/image/mail.png" width="30" height="20"/>{{'footer.email' | translate}}: fhs@gmail.com.vn</p>
    </div>
   
  </div>
  </div>
</footer>
