
<footer>
  <div class="row no-gutters">
    
    <div class="col-lg-4 mx-auto">
      <div class="col-12 ">
          <img src="assets/image/footer-logo.png" />
      </div>
      <div class="row">
        <div class="col-6">
            <p class="m-0"><img src="assets/image/icon_address.png" width="30" height="30"/>{{'footer.address' | translate}}:</p>
            <p class="m-0" style="padding-left: 30px;">{{'footer.detailAdress' | translate}}</p>
        </div>
        <div class="col-6">
            <p class="m-0"><img src="assets/image/phone.png" width="30" height="30" style="padding-right: 3px;"/>{{'footer.phone' | translate}}: +84-239-3722-123 </p>
            <p class="m-0"><img src="assets/image/fax.png" width="30" height="30" style="padding-right: 3px;"/>{{'footer.fax' | translate}}: +84-239-3722-112 </p>
            <p class="m-0" ><img src="assets/image/mail.png" width="30" height="20" style="padding-right: 3px;"/>{{'footer.email' | translate}}: fhs@gmail.com.vn</p>
          </div>
      </div>
    </div>
    
  </div>
</footer>
