<div *ngIf="key===1" class="contentDialog">
        <div class="headerDialog">
                <span>Loadding</span>
        </div>
        <div class="content">
                <div class="lds-spinner">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                </div>
        </div>
        <div class="content">
                <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                </div>
        </div>
</div>
<div *ngIf="key===2" class="contentwarning">
        <!-- <div class="row justify-content-center">
                <h4 class="col-12" style="text-align: center">Please Login</h4>
                    <div class="col-12">
                            <button class="col-6 done" (click)="onNoClick()">Cancel</button>
                            <button class="col-6 dain" (click)="login()">LOGIN</button>
                    </div>
            </div>  -->
        <div class="headerDialog">
                <span>Warning</span>
        </div>
        <div class="warning">
                <img class="img-reponsive" src="assets/image/icon_warning.png" />
                <p>You need to login to continue</p>
        </div>
        <div class="login">

                <div class="row justify-content-between">
                        <button class="col-4 done" (click)="login()">LOGIN</button>
                        <button class="col-4 float-right dain" (click)="onNoClick()">Cancel</button>
                </div>
        </div>
</div>