$purple: #8e44ad;
$turquoise: #1abc9c;


/* Clear floats after the columns */



.content_full{
    // background : linear-gradient(to bottom,#0048ff 0%, #ffffff 100%);
    // background : -moz-linear-gradient(bottom, #0048ff 0%,#ffffff 100%);
    // background : -webkit-linear-gradient(bottom, #0048ff 0%, #ffffff 100%);
    // background : -o-linear-gradient(bottom,#0048ff 0%, #ffffff 100%);
    background: rgba(62,159,244,1);
    background: -moz-linear-gradient(left, rgba(62,159,244,1) 0%, rgba(19,126,241,1) 1%, rgba(19,126,241,1) 96%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(62,159,244,1)), color-stop(1%, rgba(19,126,241,1)), color-stop(96%, rgba(19,126,241,1)));
    background: -webkit-linear-gradient(left, rgba(62,159,244,1) 0%, rgba(19,126,241,1) 1%, rgba(19,126,241,1) 96%);
    background: -o-linear-gradient(left, rgba(62,159,244,1) 0%, rgba(19,126,241,1) 1%, rgba(19,126,241,1) 96%);
    background: -ms-linear-gradient(left, rgba(62,159,244,1) 0%, rgba(19,126,241,1) 1%, rgba(19,126,241,1) 96%);
    background: linear-gradient(to right, rgba(62,159,244,1) 0%, rgba(19,126,241,1) 1%, rgba(19,126,241,1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e9ff4', endColorstr='#137ef1', GradientType=1 );
    height: auto;
    
    //overflow:visible;
  }

  mat-drawer {
    position: relative;
    z-index: 4;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    
    z-index: 3;
    outline: 0;
    box-sizing: border-box;
    overflow-y: visible;
    transform: translate3d(-100%,0,0);
}
  .example-sidenav{
    width: 12%;
    min-height: 65vh;
    
  }
  .example-sidenav-content {
    width: 100%;
    min-height: 65vh;
    overflow: hidden;
    // display: flex;
  
  }
  mat-card{
    
    box-shadow: 1px 2px 10px 0 #0623ff !important;

    
    background-position: center;
    background-repeat: no-repeat;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     font-family:'UTM Avo';
     color: #fff;
     background: rgba(62,159,244,1);
background: -moz-linear-gradient(left, rgba(62,159,244,1) 0%, rgba(19,126,241,1) 1%, rgba(19,126,241,1) 96%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(62,159,244,1)), color-stop(1%, rgba(19,126,241,1)), color-stop(96%, rgba(19,126,241,1)));
background: -webkit-linear-gradient(left, rgba(62,159,244,1) 0%, rgba(19,126,241,1) 1%, rgba(19,126,241,1) 96%);
background: -o-linear-gradient(left, rgba(62,159,244,1) 0%, rgba(19,126,241,1) 1%, rgba(19,126,241,1) 96%);
background: -ms-linear-gradient(left, rgba(62,159,244,1) 0%, rgba(19,126,241,1) 1%, rgba(19,126,241,1) 96%);
background: linear-gradient(to right, rgba(62,159,244,1) 0%, rgba(19,126,241,1) 1%, rgba(19,126,241,1) 96%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e9ff4', endColorstr='#137ef1', GradientType=1 );
  }
  mat-card-title{
            font-family:'UTM Avo';
            font-size: 30px;
            display: inline-block;
            text-align: center;
            
            color:#33d014; 
  }
  mat-card h1{
            
            font-size: 50px;
            font-weight: bold;
            color: #1491d0;
           
  }
  .col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.iconnhietdo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line{
  background-color: #1491d0;
  height: 1.5px;
  width: 100%;
  margin: 10px 10px 10px 10px;
 }
     

 .detail{
        
        //padding: 0px 10px;
       height: 330px;
 }
  .detail mat-card{
    font-family:'UTM Avo';
    //width: 20%;
     width: 100%;
    box-shadow: 1px 2px 10px 0 #0623ff !important;
    height: 100%;
    overflow: hidden;
    color:#1491d0;
  
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    h1{
      font-weight: bold;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      min-height: 150px;
      font-size: 50px
     
    }
    p{
      font-size: 15px;
     
    }
    h3{
      text-align: center;
      height: 20%;
      font-size: 20px;
      border-bottom:  #1491d0 1px solid;
    }
    a{
      text-decoration: none;
      cursor: pointer;
    }
    a:hover{
      color: red;
    }
    a:active{
      color: #0623ff;
    }
    p{

      text-align: center;
    }
    span{
     font-size: 12px;
     text-align: center;
    }
   
  }   
  table tr{
   margin: 15px;
   height: 50px;
  }
  table tr th img{
    width: 32px;
    height: 32px;
  }
  mat-card-title{
    text-transform: uppercase;
  }
  mat-card-subtitle{
    color:#fff;
    font-family:'UTM Avo';
    font-size: 15px
  }

// /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  
mat-card{
  margin-top: 10px;
}
.detail mat-card{
  height: auto;
}

}

// version css 2
.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}

.home_v2{
  margin-top: 60px;
  margin-bottom: 145px;
  margin-left: 85px;
  margin-right: 85px;
}
.left_v2{
  margin-top: 105px;
  margin-bottom: 155px;
  padding-right: 50px;

}
mat-card-header{
  width: 100%;
  text-align: center;
}
.mat-card-header-text{
  margin: 0 16px;
  width: 100%;
  text-align: center;
}
.icon_home_v2{
  display: block;
  margin-right: auto;
  margin-left: auto;
  
}
.text_info{
  text-align: center;
  width: 100%;
}
.bottom_item{
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: aqua;
}

ul {
  padding: 0;
  list-style-type: none;
}
li {
  height: 30px;
  width: 100%;
  font-size: 12px;
}
li span {
  
  float: left;
  width: 10%;
  margin-top: 7px;
  vertical-align: middle;
}

li p {
  width: 85%;
  float: right;
  
  vertical-align: middle;
  text-align: left;
}
.hcn{
  width: 20px;
  height: 10px;
  display: table-cell;
  vertical-align: middle;
  background: aqua;
}
.hcn_cao{
  width: 20px;
  height: 10px;
  vertical-align: middle;
  background: red;
}
.hcn_bt{
  width: 20px;
  height: 10px;
  vertical-align: middle;
  background: green;
}
.hcn_bbt{
  width: 20px;
  height: 10px;
  vertical-align: middle;
  background: yellow;
}
.home_bottom_info{
  width: 90%;
  border-radius: 5px;

  font-family:'UTM Avo';
  background: #5d95c5;
  color: #fff;
  height: 100px;
  h5{
    border-bottom: 1px aqua solid;
    padding: 5px;
    color: aqua;

  }
  a{
    text-decoration: none;
    cursor: pointer;
  }
  a:hover{
    color: red;
  }
  a:active{
    color: #0623ff;
  }
}

#my-div {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #A4DDED;
	position: relative;
	top: -10px;
}
#my-div:after {
	content: '';
	position: absolute;

	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #A4DDED;
}
#hinhvuong {
	width: 10px;
	height: 10px;
	background: #ccc;

	background: aqua;
}

.flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.text_home{
  padding-left: 5px;
  font-size: 30px;
  color: aqua;
  text-align: center;
  padding-bottom: 10px;
}
.text_donvi{
  padding-right: 5px;
  text-align: center;
  font-size: 20px;
  color: aqua;
  padding-bottom: 10px;
}
::ng-deep .gauge-element {
  height: 345px;
  width: auto;
  display: inline-block;
}
::ng-deep .gauge-element .dxg-range-0{
 color: #8e44ad;
}
@media only screen and (max-width: 1208px){
  .text_home{
    padding-left: 5px;
    font-size: 20px;
    color: aqua;
    text-align: center;
    padding-bottom: 10px;
  }
  .text_donvi{
    padding-right: 5px;
    text-align: center;
    font-size: 10px;
    color: aqua;
    padding-bottom: 10px;
  }
}