<app-nav></app-nav>

<mat-drawer-container class="container_full" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-slide-menu></app-slide-menu>
  </mat-drawer>

  <div class="example-sidenav-content justify-content-md-center">

    <div class="colum_left">
      <!-- [style.backgroundImage]="'url('+ imagSource +')'" -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{localtion}}</mat-card-title>
          <mat-card-subtitle>{{today| date:'EEEE (yyyy/MM/dd)'}}</mat-card-subtitle>
        </mat-card-header>
        <div class="row">
          <div class="col">
            <img class ="iconnhietdo"src="{{imageIcon}}" width="100%" height="100" width="100"/>
          </div>
          <div class="col">
            <h1>{{shidu}} ⁰C</h1>

            <span>Min : {{shidu - 5}} / Max : {{shidu + 5}}</span>
            <table>
              <tr style="margin: 10px;">
                <th>
                  <img src="../../assets/image/ic_hum.png" />
                </th>
                <th style="padding-left:10px;">
                  {{wendu}}%
                </th>
              </tr>
              <tr style="margin: 10px;">
                <th>
                  <img src="../../assets/image/ic_winderec.png" />
                </th>
                <th style="padding-left:10px;">
                  {{fengxiang}}, {{fengshi}}
                </th>
              </tr>
              <tr style="margin: 10px;">
                <th>
                  <img src="../../assets/image/ic_temp.png" />
                </th>
                <th style="padding-left:10px;">
                  1010hpda
                </th>
              </tr>
            </table>
          </div>
        </div>
      </mat-card>
    </div>

    <!-- colum right -->
    <div class="colum_right">
      <mat-card *ngFor="let wind of winds">
        <h3>{{wind.name}}</h3>
        <div class="line"></div>
        <h1>
          {{wind.number}}
          <p>{{wind.donvi}}</p>
        </h1>
        <span>
          <p>Min : {{wind.min}}</p>
          <p>Max : {{wind.max}}</p>
        </span>
      </mat-card>
    </div>
  </div>

</mat-drawer-container>