$purple: #8e44ad;
$turquoise: #1abc9c;


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container_full{
    background : linear-gradient(to bottom,#0048ff 0%, #ffffff 100%);
    background : -moz-linear-gradient(bottom, #0048ff 0%,#ffffff 100%);
    background : -webkit-linear-gradient(bottom, #0048ff 0%, #ffffff 100%);
    background : -o-linear-gradient(bottom,#0048ff 0%, #ffffff 100%);
    width: 100%;
    min-height: 65%;
  }
  .example-sidenav{
    width: 12%;
    overflow: hidden;
    display: flex;
  }
  .example-sidenav-content {
    width: 100%;
    overflow: hidden;
    display: flex;
    margin: auto;
    padding: 40px;
  }

   .example-sidenav-content .colum_left{
        width: 50%;
        margin-top: 50px;
        height: 100%;
        font-family:'UTM Avo';
        float: left;
        flex: 1;
        mat-card{
          
         width: 55%;
         margin-left: auto;
         box-shadow: 1px 2px 10px 0 #0623ff !important;
         margin-right: auto;
         background-position: center;
         background-repeat: no-repeat;
          border-radius: 20px;
          -moz-border-radius: 20px;
          -webkit-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
          mat-card-title{
            font-family:'UTM Avo';
            font-size: 30px;
            color:#1491d0; 
          }
          h1{
            font-size: 80px;
            color: #1491d0;
           
          }
          span{
            font-size: 15px;
            color: #1491d0;
            font-family:'UTM Avo';
          }
         th {
          font-size: 15px;
          color: #1491d0;
          font-family:'UTM Avo';
         }
        }
        .iconnhietdo{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
     }

 .example-sidenav-content .colum_right{
        width: 50%;
        float: right;
        flex: 1;
       
        margin-top: 50px;
 }
  .example-sidenav-content .colum_right mat-card{
    font-family:'UTM Avo';
    width: 20%;
    margin-right: 20px;
    float: left;
    box-shadow: 1px 2px 10px 0 #0623ff !important;
    height: 100%;
    overflow: hidden;
    color:#1491d0;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    h3{
      text-align: center;
      
      height: 10%;
      font-size: 20px;
    }
    h1{
      font-weight: bold;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 50%;
      font-size: 50px
    }
      p{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      p{
       
        text-align: center;
        font-size: 15px;
      }
   
    span{
      height: 40%;
      text-align: center;
      font-family:'UTM Avo';
    }
    .line{
      background-color: #1491d0;
      height: 1.5px;
      width: 100%;
      margin: 10px 10px 10px 10px;
     }
  
  }   
  table tr{
   margin: 15px;
   height: 50px;
  }
  table tr th img{
    width: 32px;
    height: 32px;
  }
  mat-card-title{
    text-transform: uppercase;
  }
  mat-card-subtitle{
    color:#1491d0;
    font-family:'UTM Avo';
    font-size: 15px
  }
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .container_full{
    background-color: #052762;
    width: 100%;
    min-height: 65%;
  }
  .example-sidenav-content {
    width: 100%;
    height: 100%;
    display: table-cell;
  }

 .example-sidenav-content .colum_left{
    width: 100%;
    
    mat-card{
      width: 90%;
      box-shadow: 1px 2px 10px 0 #0623ff !important;
    }
   }
   .example-sidenav-content .colum_right{
    width: 100%;
  }
  .example-sidenav-content .colum_right  mat-card{
    width: 44%;
    margin: 0 0 10px 10px;
    float: left;
    height: 100%;
    
    color: #2E64FE;
    h3{
      text-align: center;
      height: 10%;
      font-size: 20px;
 
    }
    h1{
      justify-items: center;
      align-items: center;
      margin-top: 50px;
      text-align: center;
      height: 60%;
      p{
        text-align: center;
        font-size: 12px;
      }
    }
   
    span{
      height:30%;
      text-align: center;
      font-family:'UTM Avo';
    }
  }

}

// /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
  
 }

 @media only screen
 and (min-device-width: 768px) 
 and (max-device-width: 1024px) 
 and (-webkit-min-device-pixel-ratio: 1) {
  .container_full{
    background-color: #052762;
    width: 100%;
    min-height: 65%;
  }
  .example-sidenav-content {
    width: 100%;
    height: 100%;
    display: table-cell;
  }
  .example-sidenav-content .colum_left{
    width: 100%;
   
    mat-card{
      width: 100%;
      box-shadow: 1px 2px 10px 0 #0623ff !important;
    }
   }
   .example-sidenav-content .colum_right{
   
    width: 100%;
  }
  .example-sidenav-content .colum_right  mat-card{
    width: 44%;
    margin: 0 0 10px 10px;
    float: left;
    height: 100%;
    
    color: #2E64FE;
    h3{
      text-align: center;
      height: 10%;
      font-size: 20px;
 
    }
    h1{
      justify-items: center;
      align-items: center;
      margin-top: 50px;
      text-align: center;
      height: 60%;
      p{
        text-align: center;
        font-size: 12px;
      }
    }
   
    span{
      height:30%;
      text-align: center;
      font-family:'UTM Avo';
    }
  }
 }
 @media screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    // columns left
    .example-sidenav-content {
      width: 100%;
      overflow: hidden;
      display: flex;
      margin: auto;
      padding: 40px;
    }
  
     .example-sidenav-content .colum_left{
          width: 50%;
          margin-top: 50px;
          height: 100%;
          font-family:'UTM Avo';
          float: left;
          flex: 1;
          mat-card{
            
           width: 55%;
           margin-left: auto;
           box-shadow: 1px 2px 10px 0 #0623ff !important;
           margin-right: auto;
           background-position: center;
           background-repeat: no-repeat;
            border-radius: 20px;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            mat-card-title{
              font-family:'UTM Avo';
              font-size: 30px;
              color:#1491d0; 
            }
            h1{
              font-size: 30px;
              color: #0048ff;
            }
          }
          .iconnhietdo{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
       }
       .example-sidenav-content .colum_right{
        width: 50%;
        float: right;
        flex: 1;
       
        margin-top: 50px;
 }
  .example-sidenav-content .colum_right mat-card{
    font-family:'UTM Avo';
    width: 20%;
    margin-right: 20px;
    float: left;
    box-shadow: 1px 2px 10px 0 #0623ff !important;
    height: 100%;
    overflow: hidden;
    color:#1491d0;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    h3{
      text-align: center;
      
      height: 10%;
      font-size: 15px;
    }
    h1{
      font-weight: bold;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 50%;
      font-size: 35px
    }
      p{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      p{
       
        text-align: center;
        font-size: 10px;
      }
   
    span{
      height: 40%;
      text-align: center;
      font-family:'UTM Avo';
    }
    .line{
      background-color: #1491d0;
      height: 1.5px;
      width: 100%;
      margin: 10px 10px 10px 10px;
     }
  
  }   
}