#content{
    width: 100%;
    height: 100%;
    background-color:#052762;
}
/* ---------------------------------------------------
    container
----------------------------------------------------- */
#container {
    min-height:100%;
    width: 100%;
    position:relative;
 }