<nav class="navbar navbar-expand-md navbar-dark nav">
  <!-- <img  class="navbar-brand" (click) ="checkLogin()" [src]="icon_val"/> -->
  <div class="col-3">
    <div class="row">
      <div class="col-6 d-flex justify-content-center">
        <!-- <span (click)="checkLogin()" class="navbar-brand navbar-toggler-icon d-flex justify-content-center"></span> -->
        <img   class="navbar-brand navbar-toggler-icon d-flex justify-content-center"(click) ="toggleSidebar()" [src]="icon_val"/>
      </div>
      <div class="col-6">
        <span>{{title}}</span>
      </div>
    </div>
  </div>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbar1" style="cursor: pointer">
      <!-- <span class="glyphicon glyphicon-tags"></span> -->
      <img src="assets/image/icon_select.png"/>
    </button>
    <div class="collapse navbar-collapse " id="navbar1" style="margin-top: 6px">
      <ul class="navbar-nav mr-auto row" *ngIf="flagsShow" style="width: 100%">
        <li class="nav-item col">
          <p class="text-center">{{selectAdrees}}</p>
        </li> 
        <li class="nav-item col" *ngIf="showZhan"><p>{{zhan}} {{txt_zhan}}</p></li>
        <li class="nav-item col">
            <p>{{txt_start_date}}</p>
          </li> 
          <li class="nav-item col">
              <p>{{txt_end_date}}</p>
          </li> 
      </ul>
      <ul class="navbar-nav mr-auto row" *ngIf="flagsShow==false" style="width: 100%">
          <li class="nav-item col d-flex justify-content-center">
            <p class="text-align">{{location}}</p>
          </li> 
         
          <li class="nav-item col ">
              <p class="align-self-center"><img src="assets/image/lich.png"   width="30px" height="30xp"/>{{dateCurrent}}</p>
            </li> 
            <li class="nav-item col">
                <p><img src="assets/image/o'clock.png"  width="30px" height="30xp"/>{{timerOk}}</p>
            </li> 
        </ul>
    </div>
 
  


</nav>