<div class="nav">
    <div class="colum_left">
        <img  (click) ="checkLogin()" [src]="icon_val"/>
    </div>
    <div class="colum_center">
        <span >{{title}}</span>
    </div>
    <div class="colum_right" *ngIf="flagsShow">
      
        <div class="colum_one"> {{selectAdrees}}</div>
        <div class="colum_two" *ngIf="showZhan"> {{zhan}} {{txt_zhan}}</div>
        <div class="colum_one">{{txt_start_date}}</div>
        <div class="colum_one">{{txt_end_date}}</div>
        
    </div>
    <div class="colum_home" *ngIf ="flagsShow == false">
       
        <div class="colum_one" > {{location}}</div>
        <div class="colum_one" ><img src="../../assets/image/lich.png"  width="100%" height="10%" width="10%"/>{{dateCurrent}}</div>
        <div class="colum_one"><img src="../../assets/image/o'clock.png"  width="100%" height="10%" width="10%"/>{{timerOk}}</div>
    </div>
  </div>
  