<!-- <div class="nav container-fluid">
      <div class="col-sm-5 col-xs-5 col-md-3 col-lg-3 col-xl-3 colums" style="height: 100%" >
            <div class="col-lg-6 iconMenu" >
                    <img  (click) ="checkLogin()" [src]="icon_val"/>
              </div>
              <div class="col-lg-6 border_right" style="text-align: center">
                    <span >{{title}}</span>
                </div>
      </div>
      <div class="col-sm-7 col-xs-7 col-md-9 col-lg-9 col-xl-9" style="height: 100%">
            <div class="row colums" *ngIf="flagsShow">
      
                    <div class="col-lg-4"> {{selectAdrees}}</div>
                    <div class="col-lg-4" *ngIf="showZhan"> {{zhan}} {{txt_zhan}}</div>
                    <div class="col-lg-4">{{txt_start_date}}</div>
                    <div class="col-lg-4">{{txt_end_date}}</div>
                    
           </div>
           <div class="row colums" *ngIf ="flagsShow == false">
       
                <div class="col-lg-4" > {{location}}</div>
                <div class="col-lg-4" ><img src="assets/image/lich.png"   width="30px" height="30xp"/>{{dateCurrent}}</div>
                <div class="col-lg-4"><img src="assets/image/o'clock.png"  width="30px" height="30xp"/>{{timerOk}}</div>
            </div>
      </div>
  </div> -->
<!-- <div class=" navbar navbar-expand-sm" style="border: solid">
      
      <ul class="navbar-nav">
            <li class="nav-item col-2">
               <div class="row">

               </div>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Css</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Bootstrap</a>
            </li>
         </ul>
  </div> -->
<nav class="navbar navbar-expand-md navbar-dark nav">
  <!-- <img  class="navbar-brand" (click) ="checkLogin()" [src]="icon_val"/> -->
  <div class="col-3">
    <div class="row">
      <div class="col-6 d-flex justify-content-center">
        <!-- <span (click)="checkLogin()" class="navbar-brand navbar-toggler-icon d-flex justify-content-center"></span> -->
        <img   class="navbar-brand navbar-toggler-icon d-flex justify-content-center"(click) ="checkLogin()" [src]="icon_val"/>
      </div>
      <div class="col-6">
        <span>{{title}}</span>
      </div>
    </div>
  </div>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbar1" style="cursor: pointer">
      <!-- <span class="glyphicon glyphicon-tags"></span> -->
      <img src="assets/image/icon_select.png"/>
    </button>
    <div class="collapse navbar-collapse " id="navbar1" style="margin-top: 6px">
      <ul class="navbar-nav mr-auto row" *ngIf="flagsShow" style="width: 100%">
        <li class="nav-item col">
          <p class="text-center">{{selectAdrees}}</p>
        </li> 
        <li class="nav-item col" *ngIf="showZhan"><p>{{zhan}} {{txt_zhan}}</p></li>
        <li class="nav-item col">
            <p>{{txt_start_date}}</p>
          </li> 
          <li class="nav-item col">
              <p>{{txt_end_date}}</p>
          </li> 
      </ul>
      <ul class="navbar-nav mr-auto row" *ngIf="flagsShow==false" style="width: 100%">
          <li class="nav-item col d-flex justify-content-center">
            <p class="text-align">{{location}}</p>
          </li> 
         
          <li class="nav-item col ">
              <p class="align-self-center"><img src="assets/image/lich.png"   width="30px" height="30xp"/>{{dateCurrent}}</p>
            </li> 
            <li class="nav-item col">
                <p><img src="assets/image/o'clock.png"  width="30px" height="30xp"/>{{timerOk}}</p>
            </li> 
        </ul>
    </div>
 
  


</nav>