  <div class="content_full row no-gutters">
    <!-- colum left -->
    <div id="second" ngClass={{nameColumnLeft}} class="my-auto">
        <dx-chart id="radarChart" [dataSource]="huminityData" class="justify-content-center">
           
          <dxi-series valueField="val1" name="00:00 - 07:59" color="#07ccd9">
            
          </dxi-series>
          <dxi-series valueField="val11" name="08:00 - 15:59" color="#8e44ad">

          </dxi-series>
        
          <dxo-common-series-settings argumentField="date" type="fullStackedBar" 
            selectionMode="allArgumentPoints">
            <dxo-label [visible]="false" [format]="{
                          type: 'fixedPoint',
                          precision: '0'
                      }">
            </dxo-label>
            
          </dxo-common-series-settings>
          <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
          </dxo-legend>
          <dxo-tooltip [enabled]="visible" [customizeTooltip]="customizeTooltip">
          </dxo-tooltip>
          <dxo-legend [visible]="false"></dxo-legend>
          <dxo-argument-axis color="aqua" >
              <dxo-tick color="aqua" [width]="1" [length]="20"></dxo-tick>
              <dxo-label wordWrap="none" [overlappingBehavior]="currentMode">
                  <dxo-font color="aqua" [size]="14"> </dxo-font>
              </dxo-label>
               <dxo-grid [visible]="true" color="aqua"></dxo-grid>
          </dxo-argument-axis>
        <dxi-value-axis [valueMarginsEnabled]="false" color="aqua">
            <dxo-tick color="aqua" [width]="1" [length]="7"></dxo-tick>
            <dxo-label [useRangeColors]="true">
                <dxo-font color="aqua" [size]="14"> </dxo-font>
              </dxo-label>
              <dxo-grid [visible]="true" color="aqua"></dxo-grid>
        </dxi-value-axis>
        
        </dx-chart>
      </div>
    <!-- colum right  -->
    <div id="first" ngClass={{nameColumnRight}}>
      <img src={{icon_show}} (click)="functionShowHide()" />
      <!-- select date -->
      <div class="detail" *ngIf="okma">
        <!-- select datetimer -->
        <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-md-12 col-lg-6">
                  <kendo-datepicker [(value)]="startDate" [max]="selectToday" (valueChange)="onChangeStartDay($event)" [format]="'yyyy/MM/dd'">
                  </kendo-datepicker>
                </div>
                <div class="col-md-12 col-lg-6">
                  <kendo-timepicker *ngIf="fplagStart" (valueChange)="onChangeTimerStart($event)" [value]="timeStart" [format]="'HH:mm'">
                  </kendo-timepicker>
                  <kendo-timepicker *ngIf="fplagStart == false" [max]="timerCurrent"
                    (valueChange)="onChangeTimerStart($event)" [value]="timeStart" [format]="'HH:mm'"></kendo-timepicker>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-md-12 col-lg-6">
                  <kendo-datepicker [(value)]="enDate" [max]="selectToday" (valueChange)="onChangeEndDay($event)" [format]="'yyyy/MM/dd'">
                  </kendo-datepicker>
                </div>
                <div class="col-md-12 col-lg-6">
                  <kendo-timepicker *ngIf="fplagEnd" [max]="timerCurrent" (valueChange)="onChangeTimerEnd($event)"
                    [value]="timeEnd" [format]="'HH:mm'"></kendo-timepicker>
                  <kendo-timepicker *ngIf="fplagEnd == false" (valueChange)="onChangeTimerEnd($event)"
                    [value]="timeEnd" [format]="'HH:mm'"></kendo-timepicker>
                </div>
              </div>
            </div>
          </div>


          <div class="row" style="margin-top: 20px">
              <div class="col-md-6 col-sm-12">
                  <div class="row justify-content-around">
                <button class="col-5 done" (click)="clickSeach()">{{'rainFall.search' | translate}}</button>
                <button class="col-5 dain" (click)="printfChart()">{{'rainFall.printf' | translate}}</button>
                </div>
             </div>

          </div>

        <div class="row">
          <span class="title_table">{{'rainFall.showdata' | translate}}  <img (click)="showDetail()" src={{nameMaticon}} />
            <div class="line"></div>
          </span>
        </div>
        <!-- table detail -->
        <div class="row" *ngIf="show" style="margin-top:20px;">
          <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
              <thead>
                <tr>

                  <th colspan="1"></th>
                  <th colspan="3">{{'home.Humidity' | translate}} % ({{'menu.Temperature' | translate}} °C)</th>
                 

                </tr>
                <tr>
                  <td>Date</td>
                  <!-- // do am -->
                  <td>Avg</td>
                  <td>Min</td>
                  <td>Max</td>
                 
                </tr>
              </thead>
            </table>
          </div>
          <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr *ngFor="let weather of weatherData">
                    <td>{{weather.month}}</td>
                    <!-- // do am -->
                    <td>{{weather.avgH}} ({{weather.avgT}})</td>
                    <td>{{weather.avgH -3}}({{weather.avgLowT}})</td>
                    <td>{{weather.avgH +3}}({{weather.avgHighT}})</td>
            
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- finish select date -->
    </div>

  </div>

