<nav id="sidebar" class="sidebar" [ngClass]="{'sidebar-bg' : hasBackgroundImage()}">
    <div class="sidebar-content">
      <perfect-scrollbar>
        <div class="sidebar-header">
          <a href="#">Weather FHS</a>
          <i class="material-icons orange600" style="cursor: pointer" (click) ="clickCloseMenu()">clear</i>
        </div>
  
        <div class="sidebar-profile">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="assets/image/user.png" alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name">
              <strong>Smith</strong>
            </span>
            <span class="user-role">Administrator</span>
          
          </div>
        </div>
    
        <div class="siderbar_submenu_ll">
          <ul class="list-group">
            <li *ngFor="let menu of listmenu; let i =index" (click) ="setStateAsActive(i)" [class.active]="menu.title === activeState" >
              <img src={{menu.icon}}  class="img-reponsive"/>
              <a >{{menu.title}}</a>
              
              </li>
          </ul>
        </div>
      </perfect-scrollbar>
    </div>
    <div class="sidebar-footer">
      <div class="dropdown" dropdown>
  
        <a href="#" dropdownToggle>
          <i class="material-icons orange600">notification_important</i>
          <span class="badge badge-pill badge-warning notification">5</span>
        </a>
      </div>
      <div class="dropdown" dropdown>
        <a href="#" dropdownToggle>
          <i class="material-icons orange600">settings</i>
          <span class="badge badge-pill badge-success notification">7</span>
        </a>
      
      </div>
      <div class="dropdown" dropdown>
        <a href="#" dropdownToggle>
          <i class="material-icons orange600">info</i>
          <span class="badge-sonar"></span>
        </a>
      </div>
      <div>
        <a href="#">
          <i class="material-icons orange600">settings_power</i>
        </a>
      </div>
    </div>
  </nav>
  