::ng-deep #chart {
 
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
  }
  h1{
    text-align: center;
  }
  .contain{
    width: 100%;
    height: 100%;
  }