<app-nav></app-nav>
<mat-drawer-container class="container_full" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-slide-menu></app-slide-menu>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!-- colum left -->
    <div class="colum_left" [style.width.%]="widthleft">
        <dx-chart [dataSource]="stockPrices">
            <!-- See details in the "Bind Series to Data" topic -->
           
            <dxi-series type="scatter" argumentField="timestamp" valueField="direction"></dxi-series>
            <dxo-argument-axis >
                <dxo-label format="shortDate"></dxo-label>
            </dxo-argument-axis>
            <!-- <dxo-argument-axis argumentType="datetime" aggregationInterval="months" [valueMarginsEnabled]="false">
            </dxo-argument-axis> -->
        </dx-chart>
    </div>
    <!-- colum right  -->
    <div class="colum_right" [style.width.%]="widthright">
      <img src={{icon_show}} (click)="functionShowHide()" />
      <!-- select date -->
      <div class="detail" *ngIf="okma">
        <!-- <div class="row">
          <div class="col-md-6">
            <span>选择类型</span>
            <mat-select class="customSelect" [(value)]="title">
              <mat-option *ngFor="let title of types" [value]="title">{{title}}</mat-option>
            </mat-select>

          </div>

        </div> -->
        <!-- select datetimer -->
        <div class="row" style="margin-top:10px;">
          <div class="col-md-6">

            <input style="width:50%;" matInput [matDatepicker]="start" readonly (click)="start.open()"
              [formControl]="date" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
            <mat-datepicker #start></mat-datepicker>

            <!-- <img src="../../assets/image/icon_select.png" (click)="openStartDate()" /> -->
            <input type="time" value="16:30" style="width:40%; margin-left: 10px;" />
          </div>
          <div class="col-md-6">
            <input style="width:50%;" matInput [matDatepicker]="end" (click)="openDate()" readonly (click)="end.open()"
              (dateInput)="endDateEvent('input', $event)" (dateChange)="endDateEvent('change', $event)"
              [formControl]="date">
            <mat-datepicker #end></mat-datepicker>
            <input type="time" value="16:30" style="width:40%; margin-left: 10px;" />
          </div>

        </div>

        <div class="row">
          <div class="col-md-6" style="margin-top:20px;">
            <button type="button" class="done" (click)="clickSeach()">搜索</button>
            <button type="button" class="dain">打印</button>
          </div>

        </div>

        <div class="row">
          <span class="title_table">显 示 详 细 数 据 <img (click)="showDetail()" src={{nameMaticon}} />
            <div class="line"></div>
          </span>
        </div>
        <!-- table detail -->
        <div class="row" *ngIf="show" style="margin-top:20px;">
          <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
              <thead>
                <tr>

                  <th *ngFor="let header of listNametable">
                    {{header}}
                  </th>

                </tr>
              </thead>
            </table>
          </div>
          <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>

                  <td *ngFor='let dt of listDirectionValue'>{{ dt }} km/h</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- finish select date -->
    </div>

  </div>

</mat-drawer-container>