<div class="content_full row no-gutters">
  <!-- colum left -->
  <div ngClass={{nameColumnLeft}} id="second" class="my-auto">
      <dx-chart [dataSource]="stockPrices" id="radarChart" class="justify-content-center">
          <!-- See details in the "Bind Series to Data" topic -->
         
          <dxo-zoom-and-pan argumentAxis="both"></dxo-zoom-and-pan>
          <dxi-series type="scatter" argumentField="timestamp" valueField="direction">
              <dxo-point [size]="5" color="aqua"></dxo-point>
          </dxi-series>
          <dxo-tooltip
          [enabled]="true"
          color="aqua"
          [customizeTooltip]="customizeTooltip"
          >
          <dxo-font color="#3c3c3b"></dxo-font>
          <dxo-border [visible]="true" color="aqua"></dxo-border>
         </dxo-tooltip>
       
          <dxo-argument-axis argumentType="datetime" aggregationInterval="days" color="aqua">
              
              <dxo-label [customizeText]="customizeText"  wordWrap="none" [overlappingBehavior]="currentMode">

                  <dxo-font color="aqua" [size]="14"> </dxo-font>
              </dxo-label>
              <dxo-tick color="aqua" [width]="1" [length]="20"></dxo-tick>
          
             <dxo-grid [visible]="true" color="aqua"></dxo-grid>
          </dxo-argument-axis>
          <dxi-value-axis title="" color="aqua" >
            <dxo-label [customizeText]="valueCustomizeText">
              <dxo-font color="aqua" [size]="14"> </dxo-font>
              </dxo-label>
            
              <dxo-tick color="aqua" [width]="1" [length]="7"></dxo-tick>
             <dxo-grid [visible]="true" color="aqua"></dxo-grid>
          </dxi-value-axis>
          <dxo-scroll-bar [visible]="false"></dxo-scroll-bar>
          <dxo-legend [visible]="false"></dxo-legend>
         
         
      </dx-chart>
  </div>
  <!-- colum right  -->
  <div id="first" ngClass={{nameColumnRight}}>
    <img src={{icon_show}} (click)="functionShowHide()" />
    <!-- select date -->
    <div class="detail" *ngIf="okma">

      <!-- select datetimer -->
      <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <kendo-datepicker [(value)]="startDate" [max]="selectToday" (valueChange)="onChangeStartDay($event)" [format]="'yyyy/MM/dd'">
                </kendo-datepicker>
              </div>
              <div class="col-md-12 col-lg-6">
                <kendo-timepicker *ngIf="fplagStart" (valueChange)="onChangeTimerStart($event)" [value]="timeStart" [format]="'HH:mm'">
                </kendo-timepicker>
                <kendo-timepicker *ngIf="fplagStart == false" [max]="timerCurrent"
                  (valueChange)="onChangeTimerStart($event)" [value]="timeStart" [format]="'HH:mm'"></kendo-timepicker>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <kendo-datepicker [(value)]="enDate" [max]="selectToday" (valueChange)="onChangeEndDay($event)" [format]="'yyyy/MM/dd'">
                </kendo-datepicker>
              </div>
              <div class="col-md-12 col-lg-6">
                <kendo-timepicker *ngIf="fplagEnd" [max]="timerCurrent" (valueChange)="onChangeTimerEnd($event)"
                  [value]="timeEnd" [format]="'HH:mm'"></kendo-timepicker>
                <kendo-timepicker *ngIf="fplagEnd == false" (valueChange)="onChangeTimerEnd($event)"
                  [value]="timeEnd" [format]="'HH:mm'"></kendo-timepicker>
              </div>
            </div>
          </div>
        </div>


        <div class="row" style="margin-top: 20px">
            <div class="col-md-6 col-sm-12">
                <div class="row justify-content-around">
              <button class="col-5 done" (click)="clickSeach()">{{'rainFall.search' | translate}}</button>
              <button class="col-5 dain" (click)="printfChart()">{{'rainFall.printf' | translate}}</button>
              </div>
           </div>
        </div>

      <div class="row">
        <span class="title_table">{{'rainFall.showdata' | translate}} <img (click)="showDetail()" src={{nameMaticon}} />
          <div class="line"></div>
        </span>
      </div>
      <!-- table detail -->
      <div class="row" *ngIf="show" style="margin:2px;">
          <div class="col-md-6 col-sm-12">
              <button *ngIf="showExport" class="col-6 export" (click)="exportExcel()">{{'rainFall.export' | translate}}</button>
          </div>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>

                <th>
                  {{'table.date' | translate}}
                </th>
                <th>
                  {{'table.Direction' | translate}}
                </th>
                <th>
                  {{'table.NameDirection' | translate}}
                </th>

              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr *ngFor='let dt of stockPrices'>

                <td style="color: aqua">{{dt.timestamp | date: 'yyyy-MM-dd HH:mm'}}</td>
                <td >{{dt.direction}}</td>
                <td >{{nameDirection(dt.direction)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- finish select date -->
  </div>

</div>