 // color
$color_0b3cb1 : #032ea3;
$color_2a34ff : #2a34ff;

$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;


.listmenu{
  
    background:$color_0b3cb1;
    height: auto;
 }
.listmenu .menu{
      list-style: none;
      min-height: 63vh;
}
.listmenu .menu li {
        padding: 16px 32px;
        border-bottom: 1px solid #1491d0;
        cursor: pointer;
       
        position: relative;
}
.listmenu .menu li:hover{
  background-color: $color_2a34ff;

}
.listmenu .menu li img{
  vertical-align: middle;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.listmenu .menu li a{
  text-decoration: none;
  color:#00eaf9; 
}
li.active {
  background-color: $color_2a34ff;
}

