    <div class="content_full row no-gutters">
      <div id="second" ngClass={{nameColumnLeft}} class="my-auto">
        <dx-chart id="chart" [dataSource]="dataSource" class="justify-content-center">
           
          <dxi-series valueField="value" name="00:00 - 07:59" color="#07ccd9">
            
          </dxi-series>
          <dxi-series valueField="value2" name="08:00 - 15:59" color="#07ccd9">

          </dxi-series>
          <dxi-series valueField="value3" name="16:00 - 23:59" color="#07ccd9">

          </dxi-series>
         
          <dxo-common-series-settings argumentField="date" type="bar" 
            selectionMode="allArgumentPoints">
            <dxo-label [visible]="false" [format]="{
                          type: 'fixedPoint',
                          precision: '0'
                      }">
            </dxo-label>
            
          </dxo-common-series-settings>
          <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
          </dxo-legend>
          <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip">
          </dxo-tooltip>
          <dxo-legend [visible]="false"></dxo-legend>
          <dxo-argument-axis color="aqua" >
              <dxo-tick color="aqua" [width]="1" [length]="20"></dxo-tick>
              <dxo-label wordWrap="none" [overlappingBehavior]="currentMode">
                  <dxo-font color="aqua" [size]="14"> </dxo-font>
              </dxo-label>
               <dxo-grid [visible]="true" color="aqua"></dxo-grid>
          </dxo-argument-axis>
        <dxi-value-axis [valueMarginsEnabled]="false" color="aqua">
            <dxo-tick color="aqua" [width]="1" [length]="7"></dxo-tick>
            <dxo-label [useRangeColors]="true">
                <dxo-font color="aqua" [size]="14"> </dxo-font>
              </dxo-label>
              <dxo-grid [visible]="true" color="aqua"></dxo-grid>
        </dxi-value-axis>
        
        </dx-chart>
      </div>
      <div id="first" ngClass={{nameColumnRight}}>

        <img src={{icon_show}} (click)="functionShowHide()" />
        <!-- select date -->
        <div class="detail" *ngIf="okma">
          <!-- select datetimer -->
          <div class="row">
              
            <div class="col-6">
              <div class="row">
                <div class="col-md-12 col-lg-6">
                  <kendo-datepicker [(value)]="startDate" [max]="selectToday" (valueChange)="onChangeStartDay($event)" [format]="'yyyy/MM/dd'">
                  </kendo-datepicker>
                </div>
                <div class="col-md-12 col-lg-6">
                  <kendo-timepicker *ngIf="fplagStart" (valueChange)="onChangeTimerStart($event)" [value]="timeStart" [format]="'HH:mm'">
                  </kendo-timepicker>
                  <kendo-timepicker *ngIf="fplagStart == false" [max]="timerCurrent"
                    (valueChange)="onChangeTimerStart($event)" [value]="timeStart" [format]="'HH:mm'"></kendo-timepicker>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-md-12 col-lg-6">
                  <kendo-datepicker [(value)]="enDate" [max]="selectToday" (valueChange)="onChangeEndDay($event)" [format]="'yyyy/MM/dd'">
                  </kendo-datepicker>
                </div>
                <div class="col-md-12 col-lg-6">
                  <kendo-timepicker *ngIf="fplagEnd" [max]="timerCurrent" (valueChange)="onChangeTimerEnd($event)"
                    [value]="timeEnd" [format]="'HH:mm'"></kendo-timepicker>
                  <kendo-timepicker *ngIf="fplagEnd == false" (valueChange)="onChangeTimerEnd($event)"
                    [value]="timeEnd" [format]="'HH:mm'"></kendo-timepicker>
                </div>
              </div>
            </div>
          </div>


          <div class="row" style="margin-top: 20px">
            <div class="col-6">
              <button class="col-6 done" (click)="clickSeach()">{{'rainFall.search' | translate}}</button>
              <button class="col-6 dain" (click)="printfChart()">{{'rainFall.printf' | translate}}</button>
            </div>

          </div>

          <div class="row">
            <span class="title_table">{{'rainFall.showdata' | translate}} <img (click)="showDetail()"
                src={{nameMaticon}} />
              <div class="line"></div>
            </span>
          </div>
          <!-- table detail -->
          <div class="row" *ngIf="show" style="margin:10px;">
              <button *ngIf="showExport"  class="col-3 export" (click)="exportExcel()"  ><img src="assets/image/excel.png"/>{{'rainFall.export' | translate}}</button>
            <div class="tbl-header">
              <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>00:00 - 07:59</th>
                    <th>08:00 - 15:59</th>
                    <th>16:00 - 23:59</th>
                    <!-- <th>TB</th> -->
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tbl-content">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>

                  <tr *ngFor="let body of dataSource">
                    <td>{{body.date}}</td>
                    <td #value1>{{body.value}}</td>
                    <td>{{body.value2}}</td>
                    <td>{{body.value3}}</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>