// color
$color_0b3cb1 :#0b3cb1;
$color_2a34ff : #2a34ff;

$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;
.container_full{
    background-color: #052762;
    width: 100%;
    min-height: 65%;
  
  }

  .example-sidenav{
    width: 12%;
    height: 100%;
  }

  .example-sidenav-content {
    display: flex;
    height: 630px;
    overflow: hidden;
  }
  .example-sidenav-content .colum_left{
    height: 100%;
  
    //float: left;
    
   }
   .example-sidenav-content .colum_right{
    height: 100%;
   // float: right;
    background: #003366;
    padding-left: 10px;

   }
   .colum_right img{
     width: 24px;
     height: 24px;
     float: right;
     cursor: pointer;
   }
   .example-sidenav-content .colum_right .detail{
    width: 98%;
    float: left;

    padding-top: 50px;
    padding-left: 2%;
    font-family: "Microsoft YaHei","微软雅黑","黑体","宋体";
    height: 100%;
  }
  .detail .row mat-select{
    padding: 3px;
    width: 80%;
     text-align: center;
     vertical-align: middle;
     background: white;
 
  }
  .detail .row span{
    color: white;
  }
  .detail .row input {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    text-align: center;
    //background-color: #fff;
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 50%;
    ::-webkit-inner-spin-button {
      display: none;
    }
    ::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  } 
  
  .detail .row kendo-timepicker{
    width: 45%;
    margin-left: 3px;

    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    font-size: 12px;
  }
 .detail .row input[type ="time"]{
   background: #0b3cb1;
   font-size: 12px;
   color: white;
 }
 
 .detail .row .dain{
   padding-left: 20px;
   padding-right: 20px;
   background: transparent;
   color: white;
   border-radius: 2px;
   border:  1px #3498db solid;
 }
 .detail .row .done{
   padding-left: 20px;
   padding-right: 20px;
   background: #3498db;
   color: white;
  border-radius: 2px;
   border:  1px #3498db solid;
 }
  .detail .title_table{
    margin-top: 30px;
    color: aqua;
    padding-left: 15px;
    img{
     vertical-align:middle;
     margin-left: 10px;
    }
    .line{
     background-color:aqua;
     height: 1px;
     width: 100%;
     margin-top: 5px;
    }
  }
  .detail button{
    background: transparent;
    border: 1px solid #3498db;
    border-radius: 5px;
    color: white;
  }
  // table 
  .detail table{
   width:100%;
   table-layout: fixed;
 }
 .tbl-header{
   // background-color: rgba(255,255,255,0.3);
   background: transparent;
   margin-top: 10px;
   font-family: 'Times New Roman', Times, serif;
  }
 .tbl-content{
   height:300px;
   overflow-x:auto;
   margin-top: 0px;
   border: 1px solid rgba(255,255,255,0.3);
 }
 th{
   padding: 5px 3px;
   text-align: center;
   
   font-size: 12px;
   color: #fff;
 }
 td{
   padding: 3px;
   text-align: center;
   vertical-align:middle;
 
   font-size: 10px;
   color:aqua;
   border-bottom: solid 1px rgba(255,255,255,0.1);
 }


::ng-deep #chart {
    display: flex;
    justify-content: center;
    align-items: center; 

    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 80%;
    width: 95%;
    margin-left: 5%;
    
}
.dxo-tooltip{
  z-index: 1;
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .detail{
    width: 98%;
    float: left;
   
    padding-top: 50px;
    padding-left: 2%;
    font-family: "Microsoft YaHei","微软雅黑","黑体","宋体";
    height: 100%;
  }
  .detail .row input {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    text-align: center;
    //background-color: #fff;
    //background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    background: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);

    width: 50%;
    ::-webkit-inner-spin-button {
      display: none;
    }
    ::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  } 
  
  .detail .row kendo-timepicker{
    width: 48%;
    
 
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    font-size: 8px;
  }
}
