<div class="content_full row no-gutters">
  <div ngClass={{nameColumnLeft}} id="second">

    <!-- chart cricel  -->

    <dx-polar-chart id="radarChart" palette="soft" [dataSource]="windRose" (onLegendClick)="onLegendClick($event)">
      <!-- hien thi toc do gio -->
      <dxi-series id="randarbg" *ngFor="let item of windSources" [valueField]="item.valueField" [name]="item.name"
        [color]="item.color">
      </dxi-series>

      <dxo-common-series-settings type="stackedbar"></dxo-common-series-settings>
      <!-- [visible]="false" -->
      <dxo-legend
      verticalAlignment="right"
      horizontalAlignment="center"
      
      itemTextPosition="right">
      <dxo-border [visible]="true" color="aqua">
          
      </dxo-border>
      <dxo-font color="aqua" [size]="18"> </dxo-font>
     </dxo-legend>
    
      <dxo-margin [bottom]="50" [left]="100" [top]="50" [right]="50">
      </dxo-margin>
      <dxo-argument-axis discreteAxisDivisionMode="crossLabels" [firstPointOnStartAngle]="true" color="aqua">
        <dxo-label [useRangeColors]="true">
          <dxo-font color={{seriescolor}} [size]="18"> </dxo-font>
        </dxo-label>
        <dxo-tick color="aqua" [width]="1" [length]="7"></dxo-tick>
      </dxo-argument-axis>
      <dxo-value-axis [valueMarginsEnabled]="false" color="aqua">
        <dxo-label [useRangeColors]="true">
          <dxo-font color="aqua" [size]="18"> </dxo-font>
        </dxo-label>

      </dxo-value-axis>
    </dx-polar-chart>


  </div>
  <div id="first" ngClass={{nameColumnRight}}>
    <img src={{icon_show}} (click)="functionShowHide()" />

    <div class="detail" *ngIf="okma">
      <div class="row no-gutters">
        <div class="col-md-6">
          <span>{{'rainFall.select' | translate}}</span>
          <br />
          <mat-radio-group (change)="onSelectionChange($event)">
            <mat-radio-button value="8" (change)="selectEight()">8 {{'rainFall.station' | translate}}
            </mat-radio-button>
            <mat-radio-button value="16" (change)="selectSixteen()" [checked]="true" #sixteen> 16
              {{'rainFall.station' | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <!-- select datetimer -->
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <kendo-datepicker [(value)]="startDate" [max]="selectToday" (valueChange)="onChangeStartDay($event)"
                [format]="'yyyy/MM/dd'">
              </kendo-datepicker>
            </div>
            <div class="col-md-12 col-lg-6">
              <kendo-timepicker *ngIf="fplagStart" (valueChange)="onChangeTimerStart($event)" [value]="timeStart"
                [format]="'HH:mm'">
              </kendo-timepicker>
              <kendo-timepicker *ngIf="fplagStart == false" [max]="timerCurrent"
                (valueChange)="onChangeTimerStart($event)" [value]="timeStart" [format]="'HH:mm'"></kendo-timepicker>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <kendo-datepicker [(value)]="enDate" [max]="selectToday" (valueChange)="onChangeEndDay($event)"
                [format]="'yyyy/MM/dd'">
              </kendo-datepicker>
            </div>
            <div class="col-md-12 col-lg-6">
              <kendo-timepicker *ngIf="fplagEnd" [max]="timerCurrent" (valueChange)="onChangeTimerEnd($event)"
                [value]="timeEnd" [format]="'HH:mm'"></kendo-timepicker>
              <kendo-timepicker *ngIf="fplagEnd == false" (valueChange)="onChangeTimerEnd($event)" [value]="timeEnd"
                [format]="'HH:mm'"></kendo-timepicker>
            </div>
          </div>
        </div>
      </div>


      <div class="row" style="margin-top: 20px">
        <div class="col-6">
          <button class="col-6 done" (click)="clickSeach()">{{'rainFall.search' | translate}}</button>
          <button class="col-6 dain" (click)="printfChart()">{{'rainFall.export' | translate}}</button>
        </div>

      </div>

      <div class="row">
        <span class="title_table">{{'rainFall.showdata' | translate}} <img (click)="showDetail()" src={{nameMaticon}} />
          <div class="line"></div>
        </span>
      </div>
      <div class="row" *ngIf="showTable" style="margin:10px;">

        <!-- <button class="col-md-6">
              {{'rainFall.show%' | translate}}
            </button>
            <button class="col-md-6">
              {{'rainFall.showspeed' | translate}}
            </button> -->
        <button *ngIf="showExport" class="col-3 export" (click)="exportExcel()"><img
            src="assets/image/excel.png" />{{'rainFall.export' | translate}}</button>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>

                <th *ngFor="let header of listNametable">
                  {{header}}
                </th>

              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>

              <tr *ngFor='let dt of windRose'>

                <td>{{ dt.arg }}</td>
                <td>{{ dt.val1 }}</td>
                <td>{{ dt.val2 }}</td>
                <td>{{ dt.val3 }}</td>
                <td>{{ dt.val4 }}</td>
                <td>{{ dt.val5 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>