/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import './assets/admin';
html,body {
    font-family: 'UTM Avo';

   margin:0;
   padding:0;
   height:100%;

}
@font-face {
    font-family: 'UTM Avo';
    font-style: normal;
    font-weight: normal;
    src: local('UTM Avo'), url('assets/font/utm-avo.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'UTMAvoBold';
    font-style: normal;
    font-weight: normal;
    src: local('UTMAvoBold'), url('assets/font/utm-avobold.woff') format('woff');
    }
    .mat-dialog-container {
        padding: 0 !important;
        }
        .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
            border-color:aqua; 
          }
          
          .mat-radio-button.mat-accent .mat-radio-inner-circle{
            color:rgb(66, 134, 244);
            background-color:aqua ;
          }
          
          .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
            background-color:aqua ;

          }
          .mat-menu-content{
            background-image: linear-gradient(to top,#0374ff, #032ea3 );
            color: #0374ff;
          }
          /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a607e; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1491d0; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #38bdff;
}