/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,body {
    font-family: 'UTM Avo';

   margin:0;
   padding:0;
   height:100%;

}
@font-face {
    font-family: 'UTM Avo';
    font-style: normal;
    font-weight: normal;
    src: local('UTM Avo'), url('assets/font/utm-avo.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'UTMAvoBold';
    font-style: normal;
    font-weight: normal;
    src: local('UTMAvoBold'), url('assets/font/utm-avobold.woff') format('woff');
    }
    .mat-dialog-container {
        padding: 0 !important;
        }